html{
  font-size: 100%;
}

a:link, a:visited, a:active, a:focus{
	color: $grey5;
	text-decoration: none !important;
}

a > span{
  cursor: pointer!important; /* Trying to address a reactJS bug */
}

strong > span{
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

h1,h2,h3,h4,h5,h6,h1 a, h2 a, h3 a, h4 a, h5 a{
  font-weight:  300!important;
  font-style:   normal;
  font-stretch: normal;
}
*{
  -webkit-font-smoothing: antialiased;
}
h1{
  font-size: 3em; /* 70/16 */
  margin: 20px 0;
}
.masthead h1{
  font-size: 2.2em; /* 42/16 */
  @media screen and (min-width: 768px){
    font-size: 3em; /* 70/16 */
  }
  @media screen and (min-width: 992px){
    font-size: 5em; /* 70/16 */
  }
}
h2{
  margin-top: 10px;
  margin-bottom: 18px;
  font-size: 2.625em; /* 42/16 */
}
.other-articles h2{
  margin-bottom: 20px;
}
.content-section h2{
  margin-top: 61px;
  margin-bottom: 64px;
}

h3, .h3{
  font-size: 1.875em; /* 30/16 */
	margin-bottom: 17px;
  line-height: 1.2em;
}
h4{
  font-size: 1.625em; /* 26/16 */
  margin-top: 40px;
  margin-bottom: 20px;
}
h5{
  font-size: 1.25em; /* 20/16 */
  margin-top: 20px;
}
h6{
  font-size: 1em;
}
p, span, li{
  font-size: 1rem;
  line-height: 1.8rem; /* 26/16 */
}
p strong{
  font-weight: normal;
}
