<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if !IE]><!-->
html(lang="en")
  <!--<![endif]-->
  head
    title=""
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    link(rel='stylesheet', href='/css/style.css')

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    #app !{content}
    <!--[if lt IE 9]>
    div.wrapper ie-error
      div.container
        div.row
          div.center-block
            h1 Sorry,
            h4 Your browser is not supported. Please update your browser or download Google Chrome.
            a(href="https://www.google.com/chrome/browser/desktop/", class="btn", target="blank") Try Chrome
    <![endif]-->

    script(src='http://localhost:' + staticPort + '/js/app.js', defer)
